@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<RepoDbExample.Entites.Models.PostgreSql.Finans.ComplexTypes.FinanceSummaryDto>

<div class="card mb-12">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Cari Bilgilerim
    </div>
    <div class="card-body">
        @foreach (var item in Model)
        {
            string headetDivClass = item.CashTypeName == "Gelir"
                                   ? " bg-success "
                                   : " bg-danger ";

            <div class="card text-white @headetDivClass mb-3">
                <div class="card-header">@item.CashTypeName</div>
                <div class="card-body">
                    <h5 class="card-title">@item.TotalQuantity TL</h5>
                    <p class="card-text">İşlem hareketleri @item.CashTypeName bilgileri toplamı</p>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="#">
                    <span class="float-left">Detay</span>
                    <span class="float-right">
                        <i class="fas fa-angle-right"></i>
                    </span>
                </a>
            </div>

        }
    </div>
</div>